@tailwind base;
@tailwind components;
@tailwind utilities;
@import "https://fonts.googleapis.com/css?family=Lato:300";
@import "https://fonts.googleapis.com/css?family=Playfair+Display:700,700i";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  /* cursor: none !important; */
}

.s0 {
  fill: #d6785e;
}
.s1 {
  fill: #e29665;
}
.s2 {
  fill: #fdf0f0;
}
.s3 {
  fill: #fec56d;
}
.s4 {
  fill: #81b4a7;
}
.s5 {
  fill: #b2d7ce;
}
.s6 {
  fill: #e26550;
}
.s7 {
  fill: #fdd697;
}
.s8 {
  fill: #5b5866;
}
.s9 {
  fill: #a95d50;
}
.s10 {
  fill: #dfcaca;
}
.s11 {
  fill: #5a5665;
}
.s12 {
  fill: #e6e6e6;
}
.s13 {
  fill: #edfefd;
}
.s14 {
  fill: #8a849b;
}

@keyframes enterFromLeft {
  0% {
    transform: translateX(-500%);
    opacity: 1;
  }
  500% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes enterFromRight {
  0% {
    transform: translateX(500%);
    opacity: 1;
  }
  500% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes enterFromTopLeft {
  0% {
    transform: translate(-500%, -500%);
    opacity: 1;
  }
  500% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes enterFromTopRight {
  0% {
    transform: translate(500%, -500%);
    opacity: 1;
  }
  500% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes enterFromBottomLeft {
  0% {
    transform: translate(-500%, 500%);
    opacity: 1;
  }
  500% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes enterFromBottomRight {
  0% {
    transform: translate(500%, 500%);
    opacity: 1;
  }
  500% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

:root {
  /* Config */
  --spinner-size: 200px;
  --spinner-thickness: 4px;
  --spinner-speed: 1.2s;
  /* Assuming spinner-3d is always true and spinner-loops is always infinite for CSS conversion */
}

/* Spinner */
.spinner {
  position: relative;
  margin: auto;
  box-sizing: border-box;
  background-clip: padding-box;
  width: var(--spinner-size);
  height: var(--spinner-size);
  border-radius: calc(var(--spinner-size) / 2);
  border: var(--spinner-thickness) solid hsla(0, 0%, 100%, 0.1);
  /* 3D effect adaptation */
  -webkit-mask: linear-gradient(hsla(0, 0%, 0%, 0.1), hsla(0, 0%, 0%, 1) 90%);
  transform-origin: 50% 60%;
  transform: perspective(var(--spinner-size)) rotateX(66deg);
  animation: spinner-wiggle var(--spinner-speed) infinite;
}

@keyframes spinner-wiggle {
  30% {
    transform: perspective(var(--spinner-size)) rotateX(66deg);
  }
  40% {
    transform: perspective(var(--spinner-size)) rotateX(65deg);
  }
  50% {
    transform: perspective(var(--spinner-size)) rotateX(68deg);
  }
  60% {
    transform: perspective(var(--spinner-size)) rotateX(64deg);
  }
}

.spinner:before,
.spinner:after {
  content: "";
  position: absolute;
  margin: calc(-1 * var(--spinner-thickness));
  box-sizing: inherit;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  opacity: 0.05;
  border: inherit;
  border-color: transparent;
  animation: spinner-spin var(--spinner-speed) cubic-bezier(0.6, 0.2, 0, 0.8)
      infinite,
    spinner-fade var(--spinner-speed) linear infinite;
}

.spinner:before {
  border-top-color: hsl(190, 100%, 70%);
}

.spinner:after {
  border-top-color: hsl(50, 80%, 70%);
  animation-delay: calc(var(--spinner-speed) * 0.25);
}

@keyframes spinner-spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner-fade {
  20% {
    opacity: 0.1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.1;
  }
}

.scrollbar-hide {
  scrollbar-width: 0;
}
